.spandetail{
    float: right;
    color: black;
    width: 20%;
}
.mini-form-control{
    background-color: #F8F988;
    float: right;
    height: 10%;
    border-style: solid;
    border-color: black;
}
.Linechart{
    background-color: red;
    
    
}
.minifour-black-small{
    height: 300px;
    padding: 10px;
    background-color: black;
    border-radius: 2rem;
}
